header h1 {
  font-size: 1.2em;
}

header {
  padding: 10px;
}

aside section p.red {
  color: red;
  font-size: 20px;
  text-decoration: none;
}

aside section p {
  font-family: Arial;
  text-decoration: underline;
  text-align: center;
  color: violet;
}

aside section h4 {
  text-align: center;
}