header h1 {
  font-size: 1.2em;
}

header {
  padding: 10px;
}

aside section p.red {
  color: red;
  font-size: 20px;
  text-decoration: none;
}

aside section p {
  font-family: Arial;
  text-decoration: underline;
  text-align: center;
  color: violet;
}

aside section h4 {
  text-align: center;
  color: navy;
  font-size: 30px;
}

ul li {
  list-style-type: upper-alpha;
  padding: 10px;
  margin:15px;
  background-color: #EB4646;
  text-align: center;
  color: #46EBEB;
  border: 10px inset #46EBEB;
  font-family: Arial;
  font-weight: bold;
}